<title>About Us</title>
<div class="center-text">
  <p>   İnşaat, bina, altyapı, endüstriyel sanayi yapıları gibi insan ihtiyaçlarına karşılık gelen, üretime dayalı herçeşit yapının amacına uygun inşa etme sürecidir. İnşaat tipik olarak bilinen bir müşteri için yerinde gerçekleşirken, imalattan imalata farklı olarak, belirlenmiş bir alıcı olmadan benzer ürünlerin seri üretimini gerektirir. Sanayi yapıları gelişmiş ülkelerdeki gayri safi yurt içi hasılanın %6 ile 9'unu oluşturur. İnşaat planlama, tasarım ve finansman ile başlar; ve proje inşa edilene ve kullanıma hazır oluncaya kadar devam eder.</p>
  <p>   Büyük ölçekli inşaatlar birden fazla bölüm arasında iş birliği gerektirir. Bir mimar veya inşaat mühendisi işi yönetir. Bir tasarım mühendisi veya proje yöneticisi onu denetler. Bir projenin başarılı bir şekilde yürütülmesi için etkili bir planlama şarttır. Söz konusu altyapıyı tasarlama ve yürütmeyle uğraşanlar, imar gereksinimlerini, işin çevresel etkilerini, başarılı çizelgeleme, bütçeleme, şantiye güvenliği, yapı malzemelerinin ulaşılabilirliği ve nakliyesi, lojistik, halka verdikleri rahatsızlıklara kadar tüm detayları düşünmelidirler. İnşaat, belli bir bölgedeki bina, altyapı, havaalanı, baraj gibi geniş anlamda yapı veya yapı çevresinin oluşturulma aşamasıdır.</p>
</div>

