<% content_for :page_title, 'Our Project' %>
<% content_for :head do  %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    .mySlides {display:none;}
  </style>

<% end %>
  <div class="center-text w3-display-container">

    <div class="w3-display-container mySlides">
      <%= image_tag "building1.jpg" %>
      <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        French Alps
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <%= image_tag "building2.jpg" %>
      <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        Northern Lights
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <%= image_tag "building3.jpg" %>
      <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        Beautiful Mountains
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <%= image_tag "building4.jpg" %>
      <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
        The Rain Forest
      </div>
    </div>

    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

  </div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>
