<head>
  <center>
    <h1>Aki-Yap Tic. As.</h1>
  </center>
  <center>
      <%= link_to 'Home Page', welcome_index_path%>
      <%= link_to 'About Us', welcome_about_us_path %>
      <%= link_to 'Our Projects', welcome_buildings_path %>
      <%= link_to 'Contact', welcome_contact_path %>
  </center>
</head>

<body>
  <p>
    <li>Charles Babge - 0555 444 33 22</li>
    <li>Alan Turing - 0555 333 22 11</li>
    <li>John Vincent Atanasoff - 0555 444 22 11</li>
  </p>
</body>

<footer>
  <center>Sizi De Aramızda Gormak Isteriz ..</center>
  <center>Berkan Gezgin</center>
</footer>

